html {
    overflow: hidden;
    height: 100%;
}

body{
    height: 100%;
    overflow: auto;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/*#container{
    width:100%;
    display: flex;
}*/

#nav{
    position:fixed;
    height:100%;
}

#nav ul{
    background: #EFEFEF;
    height: 100%;
    width: 250px;
    font-size: 11pt;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    float:left;
    position: relative;
}

#nav li a{
    display: block;
    color: black;
    padding: 10 10 10 10;
    text-decoration: none;
    text-align: left;
}

#nav li a:hover{
    background: lightgray;
}

#nav li a img{
    vertical-align: middle;
}

#nav li:last-child { 
    width: 100%;
    position: absolute;
    bottom: 0;
}

.active{
    background: #293F5A;
    color: white;
}

#navExpand{
    background: #242E3A;
}

#createList{
    background: darkgray;
    color: black;
    text-decoration: none;
    text-align: left;
}

#todoItem{
    background: lightgray;
    padding: 5 5 5 5;
    margin-bottom: 5;
}

#search{
    width: 200px;
    height: 25px;
}

#searchli{
    padding: 5 5 5 5;
}

#content{
    flex-grow: 1;
    height:100%;
    margin-left: 250px;
    color: white;
}

#contentHeader{
    background: #293F5A;
    padding: 16;
}

/* Add item div / input */
#createContainer{
    margin: 10;
    opacity: 0.5;
}

#create{
    font-size: 22pt;
    height: 55px;
    width: 100%;
    background: #d3d3d3;
    color: #000011;
}

#textContent{
    padding: 0 5 5 5;
}

/* Hide / Show text when collapsing nav */
.hidden {
    display: none;

}
.unhidden {
    display: inline;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
}