html {
    overflow: hidden;
    height: 100%;
}

body{
    height: 100%;
    overflow: auto;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#nav{
    position:fixed;
    height:100%;
}

#nav ul{
    background: #EFEFEF;
    height: 100%;
    width: 250px;
    font-size: 11pt;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    float:left;
    position: relative;
}

#nav li a{
    display: block;
    color: #222222;
    padding: 8;
    text-decoration: none;
    text-align: left;
}

#nav li a:hover{
    background: lightgray;
}

#nav li a img{
    vertical-align: middle;
}

#nav li:last-child { 
    width: 100%;
    position: absolute;
    bottom: 0;
}

.active{
    background: #293F5A;
    color: white !important;
}

.active:hover{
    background: #242E3A !important;
}

#navExpand{
    background: #242E3A;
}

#navExpand:hover{
    background: #1d252f !important;
}

#createList{
    background: darkgray;
    color: black;
    text-decoration: none;
    text-align: left;
}

#todoItem{
    background: lightgray;
    padding: 10;
    margin-bottom: 1;
}

#todoItem:active{
    background:#293F5A;
    color: white;
    opacity: .75;
}

#search{
    width: 200px;
    height: 25px;
    margin: 5;
}

#searchToggle{
    float: right;
}

#content{
    flex-grow: 1;
    height:100%;
    margin-left: 250px;
    color: black;
}

#contentHeader{
    background: #293F5A;
    color: white;
    padding: 15;
}

/* Add item div / input */
#createContainer{
    margin: 10;
    opacity: 0.5;
}

#create{
    font-size: 18pt;
    height: 45px;
    width: 100%;
    background: #d3d3d3;
    color: #000011;
}

#textContent{
    padding: 0 5 5 5;
}

/* Hide / Show text when collapsing nav */
.hidden {
    display: none !important;

}
.unhidden {
    display: inline !important;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
    background-position: 0 -20px;
}

#txtUsername, #txtPassword{
    width: 350px;
    height: 50px;
    font-size: 22pt;
}

#btnLogin, #btnRegister, #btnLogout, #btnSubmit, #btnSettings, #btnSubmitList, #btnCancel{
    background: #293F5A;
    color: white;
    font-size: 18pt;
    padding: 10;
    border: 0;
    box-shadow:none;
    border-radius: 0px;
}

#btnLogin:hover, #btnRegister:hover, #btnLogout:hover, #btnSubmit:hover, #btnSettings:hover, #btnSubmitList:hover, #btnCancel:hover{
    background: #242E3A;
}

#loginForm{
    margin-top: 200px;
}

.center{
    margin: auto;
}

#incorrectLogin{
    color:red;
}

#userContainer{
    margin: 10;
}

#userHeader{
    margin-bottom: 10px;
    padding: 5px;
    background: #2E3439;
    color: #bbc0c3;
    height: 38px;
    font-size: 20pt;
}

#userOverview, #userToday{
    width: 25%;
    height: 300px;
    background: #2E3439;
    color: #788087;
    padding: 10;
    margin-right: 5;
    margin-bottom: 10;
    display: inline-block;
    opacity: .95;
}

#userTrends{
    width: 37%;
    height: 300px;
    background: #2E3439;
    color: #788087;
    padding: 10;
    margin-right: 5;
    margin-bottom: 10;
    display: inline-block;
    opacity: .95;
}

#userMonthly{
    width: 65%;
    height: 300px;
    background: #2E3439;
    color: #788087;
    padding: 10;
    display: inline-block;
    opacity: .95;
}

#userListsProductivity{
    width: 25%;
    height: 300px;
    background: #2E3439;
    color: #788087;
    padding: 10;
    margin-bottom: 10;
    display: inline-block;
    opacity: .95;
}

#btnSettings, #btnLogout{
    float: right;
}

#btnSettings{
    margin-right: 5px;
}

#contactContent{
    margin:10;
}

#contactName, #contactEmail{
    width: 300px;
    padding: 5;
    font-size: 16pt;
    margin-bottom: 5;
}

#contactMessage{
    width: 450px;
    height: 300px;
    padding: 5;
    margin-bottom: 5;
    font-size: 14pt;
}

#createList{
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
    padding: 75px;
    background: #2E3439;
    opacity: .9;
}

#listName, #lists{
    font-size: 14pt;
}